#form {

    background-color: salmon;
    padding: 40px;
    border-radius: 10px;
    margin:  80px auto;
    width: 30%;
}

#submit {
    display: block;
    margin: auto;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#submit:hover {
    border: 1px solid skyblue;
    color: red;
    background-color: black;
}

#form input {
    height: 25px;
    width: 300px;
    display: block;
    margin: auto;
    color: black;
    border-radius: 10px;
    
}

