#form{
    display: flex;
    justify-content: space-evenly;
    background-color: salmon;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    margin:  80px auto;
    
}

#submit{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    
}
button{
    margin-left: 25%;
}
#submit:hover{
    border:1px solid skyblue ;
    color:red;
    background-color: black;
}
#form input{
    height: 30px;
    width: 400px;
    display: block;
    margin: auto;
    color: black;
    border-radius: 10px;
    
    
}

